body {
    background-color: #d9b38c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3a2613;
}

.secondary {
    color: #734d26;
}

h3 {
    color: #603f1f;
}

a:link {
    color: #603f1f;
    text-decoration: none; 
}

a:visited {
    color: #666633;
}

.centertext {
    text-align: center;
}