/*  Page Header  */

#header {
  background-color:	#9AC7CA;
  color: #2F2725;
}

.four.columns {
  background-color: #E5E4D2;
  margin: 0;
}

.nav a {
  text-align: center;
  color: #2F2725;
}






.intro{
  background-image: url("../images/irene-davila-45779-unsplash.jpg");
  color: aliceblue;
}

