/*  Page Header  */

body {
  background-color: #E5E4D2
}

#header {
  font-family: 'Raleway', sans-serif;
  background-color:	#9AC7CA;
  color: #2F2725;
  padding: 12px;
  padding-bottom: 5px;
  padding-top: 65px;
}

.one-third.column {
  text-align: center;
}

a {
  text-align: center;
  color: #2F2725;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.one-half.column {
  margin: 0; 
}





/*  INDEX  */

.intro {
  vertical-align: bottom;
  text-align: center;
  padding: 10%;
  padding-top: 30%;
  padding-bottom: 30px;
}

#intro {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/irene-davila-45779-unsplash.jpg");
  background-size: 100%;
  color: aliceblue;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

#thumbnails {
  margin: 30px;
}

#blog-thumbnail-img {
  margin: 0;
  margin-bottom: 35px;
}

#blog-thumbnail-contents {
  padding-left: 8px;
}

.thumbnail-title {
  text-align: left;
}

.thumbnail-blurb {
  font-size: 14px;
  text-align: left;
}





/*  BLOG ARCHIVE PAGES  */

#nav {
  margin-bottom: 15px;
}

#page-title {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/irene-davila-45779-unsplash.jpg");
  background-size: 100%;
  color: aliceblue;
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}

.tech-archives-title {  
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

#tech-1 {
  margin: 30px;
  padding-top: 25px;
}



#tech-1-contents {
  padding-left: 30px;
}

.tech-1-title {
  padding: 17%;
  text-align: center;
  color: aliceblue;
}

.blog-post-blurb {
  font-size: 18px;
  text-align: justify;
}

.text-link {
  text-decoration: none;
}


/*  BLOG THUMBNAIL IMAGES */
#tech-1-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/clock.jpg");
  background-size: 100%;
  background-position: center;
}

#tech-2-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/bird-nest.jpg");
  background-size: 100%;
  background-position: center;
}

#tech-3-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/spiderweb.jpg");
  background-size: 100%;
  background-position: center;
}

#tech-4-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/tools.jpg");
  background-size: 100%;
  background-position: center;
}

#cult-1-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/sunrise.jpg");
  background-size: 100%;
  background-position: center;
}

#cult-2-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/mushroom.jpg!d");
  background-size: 100%;;
}

#cult-3-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/buddha.png");
  background-size: 100%;
  background-position: center;
}

#cult-4-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/butterfly.jpg");
  background-size: 100%;
  background-position: center;
}

#cult-5-thumbnail-img {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("../images/lotus.jpg");
  background-size: 100%;
  background-position: center;
}




/*  BLOG POST PAGES  */

#page-content {
  padding: 50px;
  text-align: justify;
}

#page-content a {
 font-size: 15px;
}

#page-content-img {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.horizontal {
  display: inline;
  padding-right: 30px;
}